html {
  position: relative;
  min-height: 95%;
}

body {
  display: block;
  background: url(img/background.jpg) center center / cover no-repeat fixed;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

.yesDisplay {
  display: block;
}

.noDisplay {
  display: none;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}
